/* Section home */
.home {
    justify-content: space-between;
}



/* Barre de sélection */
.selection-bar {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 1rem;
    background: #333;
    color: #fff;
    border-radius: 5px;
    overflow: hidden;
}

.selection-item {
    all: unset; /* Réinitialise tous les styles par défaut des boutons */
    flex: 1;
    text-align: center;
    padding: 0.5rem 0;
    cursor: pointer;
    transition: background 0.3s;
    background: #333;
    color: #fff;
    border-radius: 0; /* Préserve le design actuel */
}

.selection-item {
    flex: 1;
    text-align: center;
    padding: 0.5rem 0;
    cursor: pointer;
    transition: background 0.3s;
}

.selection-item:hover {
    background: #555;
}



/* Informations des joueurs */
.player-info {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 1rem;
}

.player-name {
    width: 20%;
    padding: 0.5rem;
    background: #333;
    color: #fff;
    text-align: center;
    border-radius: 5px;
}

.left-player {
    align-self: flex-start;
}

.right-player {
    align-self: flex-end;
}