/* Section home */
.home {
    justify-content: space-between;
}



/* Cadre pour l'interface de jeu */
.game-frame {
    width: 80%;
    height: 80%;
    border: 2px solid #333;
    background: #fafafa;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}



/* Informations des joueurs */
.player-info {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 1rem;
}

.player-name {
    width: 20%;
    padding: 0.5rem;
    background: #333;
    color: #fff;
    text-align: center;
    border-radius: 5px;
}

.left-player {
    align-self: flex-start;
}

.right-player {
    align-self: flex-end;
}