# Fichiers sensibles
#.env  #TODO 
#certs/  #TODO

# Environnement virtuel Python
**env/

# Fichiers générés par Django
**/__pycache__/
**/*.pyc
**/*.pyo
db.sqlite3
**/migrations/

# Fichiers statiques et médias
**/staticfiles/
# static/
# media/

# Logs
*.log
logs/

# Avatars
/media/avatars/user*

# IDEs et outils
.vscode/

# Jlecorne
# Makefile
.DS_Store
my_Dockerfile
my_compose.yml
my_frontend
# media
.my_env
nginx/local.conf

# mdjemaa
*.pdf
psql_friends_cmd.txt
