<div id="keyhint-container">

	<div id="keyhint-versus" style="display: none;">
		<div class="keyhint">
			<div class="keyhint-key">A</div>
			<div class="keyhint-key">D</div>
			<div>Move</div>
		</div>
	</div>

	<div id="keyhint-local" style="display: none;">
		<div class="keyhint">
			<div class="keyhint-key">W</div>
			<div class="keyhint-key">S</div>
			<div>Move</div>
		</div>
		<div class="keyhint">
			<div>Move</div>
			<div class="keyhint-key">▲</div>
			<div class="keyhint-key">▼</div>
		</div>
	</div>

</div>

<!-- This page is normally empty. -->
