<!-- Selection bar -->
<!-- <nav class="selection-bar">
    <button class="selection-item btn-solo" type="button">Solo</button>
    <button class="selection-item btn-local-versus" type="button">Local Versus</button>
    <button id="versus" class="selection-item btn-versus" type="button">Versus</button>
    <button class="selection-item btn-tournament" type="button">Tournament</button>
    <button id="btn-test-game" class="selection-item btn-tournament" type="button" >Test Game</button>
</nav> -->

<!-- Players Info -->
<div class="player-info">
    <div class="player-name left-player">Player 1</div>
    <div class="player-name right-player">Player 2</div>
</div>