#engine {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: -1;
	overflow: hidden;

	margin: 0;
	padding: 0;
	background: #d5ae4c;
	background: repeating-linear-gradient(135deg,
	  #e5be5a 0px,
	  #d5ae4c 50px,
	  #997e3a 50px,
	  #b39342 100px
	);

	user-select: none;
}


#engine .engine-debug-box {
	--engine-color: #ffffff;
	--engine-color-bg: #000000;
	--engine-color-warn: #efa330;
	--engine-color-err: #f77272;

    position: absolute;
    left: 3em;
    bottom: 3em;

	padding: 0 0.5em;
	border: 1px solid var(--engine-color);
	border-radius: 0.3em;

	opacity: 0.7;
	color: var(--engine-color);
	background-color: var(--engine-color-bg);
	font-family: monospace;
}

#engine .engine-debug-box:empty {
	/* Set engine.isDebugModeOn=false to fully hide the debug box. */
	width: 2em;
	height: 2em;
	opacity: 0.2;
}

#engine .engine-debug-box >* {
	padding: 0;
	padding-left: 1em;
	margin: 1em 0.5em;
	border-left: 3px solid var(--engine-color);
}

#engine .engine-debug-box .engine-debug-warn {
	border-left-color: var(--engine-color-warn);
}

#engine .engine-debug-box .engine-debug-err {
	border-left-color: var(--engine-color-err);
	color: var(--engine-color-err);
}


#engine #engine-loading {
	/* Positioning */
	top: 0;
	left: 0;
	position: fixed;
	width: 100%;

	/* Text centering */
	text-align: center;
	line-height: 100vh;

	/* Text style */
	letter-spacing: 1em;
	font-size: 3em;
	font-family: monospace;
	color: white;

	background: #000000aa;
}
