body {
	margin: 0;
	color: white;
}


main {
	/* size: 40%; */
	margin: 1%;
	/* border: 5px solid blue; */
}

header{
	size: 10%;
	/* border: 5px solid orange; */
}

footer{
	size: 10%;
	/* border: 5px solid yellow; */
}