#engine {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: -1;
	overflow: hidden;

	margin: 0;
	padding: 0;
	background: #d5ae4c;
	background: repeating-linear-gradient(135deg,
	  #e5be5a 0px,
	  #d5ae4c 50px,
	  #997e3a 50px,
	  #b39342 100px
	);

	user-select: none;
}
