/* GENERAL */
html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.hidden {
    display: none;
}

header, footer {
    flex-shrink: 0;
}

main {
    display: flex;
    flex: 1;
    flex-grow: 1;
    overflow: auto;
}

.main-content {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}



/* HEADER */
header {
    display: flex;
    padding: 1rem 0;
    justify-content: center;
    align-items: center;
    position: relative;
    color: #fff;
    background: #333;
}

header .container {
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}

/* Home Button */
.header-left #btn-home,
.header-right #btn-profile {
    color: #fff;
    text-decoration: none;
    background: #4caf50;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    font-size: 1rem;
    transition: background 0.3s;
}

.header-left #btn-home:hover,
.header-right #btn-profile:hover {
    background: #45a049;
}

/* Searchbar */
.header-center .search-form {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.header-center .search-form input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    font-size: 1rem;
}

.header-center .search-form button {
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    color: #fff;
    background: #4caf50;
    transition: background 0.3s;
}

.header-center .search-form button:hover {
    background: #45a049;
}



/* FOOTER */
footer {
    height: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    color: #fff;
    background: #333;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

footer .container {
    width: 90%;
    text-align: center;
}



/* SIDEBARS */
.sidebar {
    width: 12.5%;
    display: flex;
    flex-direction: column;
    background: #dbe4f3c0;
    border: 1px solid #ddd;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.left-sidebar {
    border-right: 1px solid #ddd;
}

.right-sidebar {
    border-left: 1px solid #ddd;
}