<!-- Versus Card Content -->
<div id="game-menu">
    <h2>Start a Game</h2>

    <!-- Random Matchmaking -->
    <div class="player-info">
        <img id="player-photo" src="../../ressources/match.png" alt="Photo du joueur">
        <h3 id="player-name">Nom du Joueur</h3>
    </div>
    <h2 id="status">Recherche d'adversaire...</h2>
    <div class="loader" id="loader"></div>
    <p id="waiting-text">Veuillez patienter pendant que nous trouvons un adversaire.</p>
    <div class="player-info" id="opponent-info" style="display: none;">
        <img id="opponent-photo" src="" alt="Photo de l'adversaire">
        <h3 id="opponent-name"></h3>
    </div>
    <button class="cancel-button" id="cancel-button">Annuler</button>
</div>